---
import Badge from "./Badge.astro"
import SocialPill from "./SocialPill.astro"

import '../styles/index.css'
import FigmaIcon from "../icons/Figma.astro"
import GithubIcon from "../icons/Github.astro";
import InstagramIcon from "../icons/Instagram.astro"
import MailIcon  from "../icons/Mail.astro"
---


  <h1 class="relative flex flex-row justify-center items-baseline gap-x-2 lg:gap-x-4 text-sm lg:text-2xl font-bold">
    Hola!, Somos el equipo 
    <span class="text-xl lg:text-5xl gradient-text">404,</span>
    <div class="absolute bottom-[40px] lg:right-[-45%] lg:top-[30%] flex justify-center items-center">
      <Badge>Listos para sumergirnos en tu proyecto</Badge>
    </div>
  </h1>
  
  <h2 class="lg:w-[740px] pt-2 lg:pt-5 text-base leading-4 lg:text-xl text-center opacity-80">
    Con más de 5 años de experiencia, 
    somos desarrolladores web con sede en México. 
    Nos destacamos en la creación de aplicaciones web únicas y sorprendentes.
  </h2>

  <nav class="flex flex-col justify-center items-center gap-y-2 gap-x-2 pt-5 md:flex-row">
    <SocialPill>
      <FigmaIcon class='size-6'/>
      Figma
    </SocialPill>
    <SocialPill>
      <GithubIcon class='size-6'/>
      Github
    </SocialPill>
    <SocialPill>
      <InstagramIcon class='size-6'/>
      Instagram
    </SocialPill>
    <SocialPill>
      <MailIcon class='size-6'/>
      lpelcastre@bomuca.com
    </SocialPill>
  </nav>

